@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --very-light-gray: hsl(0, 0%, 95%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--very-light-gray);
  color: var(--transparent-white);
  font-family: "lexend deca", sans-serif;
}
.Card {
  border-radius: 0.625rem;
  display: flex;
  margin: 9.4rem auto;
  max-width: 56rem;
  overflow: hidden;
}
.Card__column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 25vh;
  padding: 2.81rem;
}
.Card__column--1--color {
  background-color: var(--bright-orange);
}
.Card__column--2--color {
  background-color: var(--dark-cyan);
}
.Card__column--3--color {
  background-color: var(--very-dark-cyan);
}
.Card__column__icon {
  width: 4rem;
}
.Card__column__title {
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  margin: 2.5rem 0rem 0.31rem 0rem;
  text-transform: uppercase;
}
.Card__column__description {
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.4rem;
  margin: 2.5rem 0rem;
  padding-bottom: 3.12rem;
}
.Card__column__btn {
  border-radius: 50px;
  border: 0.125rem solid var(--very-light-gray);
  cursor: pointer;
  font-family: "lexend deca", sans-serif;
  font-size: 0.9375em;
  font-weight: 400;
  margin-top: 3.13rem;
  padding: 0.63rem 1.25rem;
  width: fit-content;
}
.Card__column__btn--1--color {
  color: var(--bright-orange);
}
.Card__column__btn--1--color:hover {
  background-color: var(--bright-orange);
  color: var(--very-light-gray);
}
.Card__column__btn--2--color {
  color: var(--dark-cyan);
}
.Card__column__btn--2--color:hover {
  background-color: var(--dark-cyan);
  color: var(--very-light-gray);
}
.Card__column__btn--3--color {
  color: var(--very-dark-cyan);
}
.Card__column__btn--3--color:hover {
  background-color: var(--very-dark-cyan);
  color: var(--very-light-gray);
}
.Card__footer {
  color: var(--bright-orange);
  font-size: 11px;
  text-align: center;
}
.Card__footer a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
  .Card {
    flex-direction: column;
    max-width: 19.6rem;
  }
  .Card__column {
    flex-basis: 100%;
    min-height: 25vh;
  }
}
.Card__column__description {
  margin-bottom: 1.6rem;
}
.Card__column__btn {
  margin-top: 0.06rem;
}
